html, body {
  height: 100%;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: lightslategrey;
}

.logo {
  text-align: center;
}

.current-folder {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 125px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid orange;
  font-size: 12px;
  color: orange;
}

.current-folder:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.folder-section{
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  top: -101px;
  background-color: rgba(0, 0, 0, 0.6);
}

.folder-div {
  /*transition: all 5s;*/
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  background-color: white;
}

.folders-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 2px lightgrey solid;
  background-color: rgba(96, 125, 139, 0.74);
}

.folders-body{

}

.create-new-folder-div,
.folder {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px lightgrey solid;
  padding: 13px;
}

.add-icon{
  height: 17px;
}

.close{
  height: 21px;

}

.new-folder{
  margin: 0 16px;
      text-align: center;
      padding: 4px 0;
      border: none;
      border-bottom: 2px lightgrey solid;
}
